.container {
  /* width: 150rem; */
  margin: 0;
  /* display: flex;
  width: 19rem;
  border: 1px solid red; */
  /* border: 1px solid red; */
}
.section {
  border: 1px solid red;
}
.card {
  /* display: flex; */
  margin-left: 5rem;
  width: 20rem;
  height: 28rem;
  border: 1px solid rgb(173, 171, 171);
}
.card-background {
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(49, 46, 46);
}
.media-content p {
  /* border: 1px solid red; */
  margin-bottom: 15px;
}
